*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.header>h1{
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding: 20px;
    color: #fff;
    font-size: 36px;
    text-align: center;
}
.content{
    width: 1200px;
    margin: 50px auto;
}
.input-box{
    overflow: hidden;
}
#input{
    width: 75%;
    border: none;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    padding-left: 5px;
    font-size: 18px;
}
#add-btn{
    width: 24%;
    border: none;
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 30px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    float: right;
}
.list-box{
    margin-top: 50px;
}
.todo{
    list-style-type: none;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 20px;
}
.todo>li{
    float: left;
}
.todo-like{
    width: 20%;
}
.todo-text{
    width: 70%;
}
.todo-check{
    width: 10%;
    text-align: right;
}
.todo .material-icons{
    color: #2ebf91;
    cursor: pointer;
}