<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.join-wrap{
		width: 500px;
		margin: 0 auto;
		padding: 20px;
	}
	
	.join-wrap .input-wrap{
		padding: 15px 30px;
	}
	.join-button-box{
		padding: 20px 30px;
	}
	.join-button-box>button{
		width: 100%;
	}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content">
		<section class="section join-wrap">
			<div class="page-title">회원가입</div>
			<form action="/member/checkId" name="checkIdFrm" method="get">
				<input type="hidden" name="checkId">
			</form>
			<form action="/member/join" method="post" autocomplete="off">
				<div class="input-wrap">
					<div class="input-title">
						<label for="memberId">아이디</label>
					</div>
					 <div class="input-item">
					 	<input type="text" name="memberId" id="memberId">
					 	<button type="button" class="btn-primary id-check-btn">중복체크</button>
					 </div>
					 <p class="input-msg id-check-msg"></p>
				</div>
				<div class="input-wrap">
					<div class="input-title">
						<label for="memberPw">비밀번호</label>
					</div>
					 <div class="input-item">
					 	<input type="password" name="memberPw" id="memberPw">
					 </div>
				</div>
				<div class="input-wrap">
					<div class="input-title">
						<label for="memberPwRe">비밀번호 확인</label>
					</div>
					 <div class="input-item">
					 	<input type="password" name="memberPwRe" id="memberPwRe">
					 </div>
					 <p class="input-msg pw-check-msg"></p>
				</div>
				<div class="input-wrap">
					<div class="input-title">
						<label for="memberName">이름</label>
					</div>
					 <div class="input-item">
					 	<input type="text" name="memberName" id="memberName">
					 </div>
				</div>
				<div class="input-wrap">
					<div class="input-title">
						<label for="memberPhone">전화번호</label>
					</div>
					 <div class="input-item">
					 	<input type="text" name="memberPhone" id="memberPhone">
					 </div>
				</div>
				<div class="input-wrap">
					<div class="input-title">
						<label for="memberAddr">주소</label>
					</div>
					 <div class="input-item">
					 	<input type="text" name="memberAddr" id="memberAddr">
					 </div>
				</div>
				
				<div class="join-button-box">
					<button type="submit" class="btn-primary lg join-btn">회원가입</button>
				</div>
			</form>
		</section>
	</main>
	
	<script>
		//$(".id-check-btn").on("click", () => {
		$("#memberId").on("keyup", () => {
			$(".id-check-msg").removeClass("invalid").removeClass("valid");
			//정규표현식(영어 대/소문자/숫자로 4~20글자)
			const idReg = /^[a-zA-Z0-9]{4,20}$/;
			const memberId = $("#memberId").val();
			
			if(idReg.test(memberId)){
				$.ajax({
					url : "/member/ajaxCheckId",
					type : "get",
					data : {memberId : memberId},
					success : (result) => {
						if(result){
							$(".id-check-msg").text("사용 가능한 아이디 입니다.")
							$(".id-check-msg").addClass("valid")
						}else{
							$(".id-check-msg").text("이미 사용중인 아이디 입니다.")
							$(".id-check-msg").addClass("invalid")
						}
					},
					error : () => {
						console.log("실패");
					}
				});
			}else{
				$(".id-check-msg").text("아이디는 영어 대/소문자/숫자로 4~20글자입니다.")
				$(".id-check-msg").addClass("invalid")
			}
		});
		
		$("#memberPwRe").on("keyup", () => {
			$(".pw-check-msg").removeClass("valid").removeClass("invalid");
		
			const pw = $("#memberPw").val();
			const pwRe = $("#memberPwRe").val();
			
			if(pw === pwRe){
				$(".pw-check-msg").text("비번 일치")
				$(".pw-check-msg").addClass("valid")
			}else{
				$(".pw-check-msg").text("비번 불일치")
				$(".pw-check-msg").addClass("invalid")
			}
			
			
		
		});
		
		$(".join-btn").on("click", e => {
			
		
			const valid = $(".vaild");
			if(valid.length !== 2){
				alert("입력값을 확인하세요.")
				e.preventDefault(); //기본이벤트 제거
			}
		});
		
		/*
		$(".id-check-btn").on("click", () => {
			const checkMsg = $(".id-check-msg");
			checkMsg.text("아이디 중복체크를 하세용");
			checkMsg.removeClass("valid").removeClass("invalid");
			checkMsg.addClass("invalid");
			//window.open(para1,para2,para3);
			//para1 : 새창에 띄울 페이지, para2 : 새창의 이름, para3 : 새창의 옵션
			window.open("","checkId","width=600, height = 300, top=350, left=700");
			//새창과 아이디 중복체크용 form을 연동
			$("[name=checkIdFrm]").attr("target","checkId");
			
			const inputId = $("#memberId").val();
			$("[name=checkId]").val(inputId);
			
			$("[name=checkIdFrm]").submit();
		});
		*/
	</script>
	
	<th:block th:include="common/footer"></th:block>
</body>
</html>