<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<script src="/js/sweetalert.min.js"></script>
	<!-- 스크립트 내부에서 Controller에서 등록해준 데이터 사용할 때 -->
	<script th:inline="javascript">
		const title = [[${title}]];
		const msg = [[${text}]];
		const icon = [[${icon}]];
		const loc = [[${loc}]];
		//sweetalert 사용법
		//1. 라이브러리 추가
		//2. swal({title : 제목 , text : 내용, icon : 아이콘}).then(function{}) 함수
		//icon에 들어가는 값에따라서 아이콘이 변경(success,error,warning,info)
		swal({
			title : title,
			text : msg,
			icon : icon
		}).then(function(){
			location.href = loc;
		})
	</script>
</body>
</html>