<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지사항 작성</title>
<style>
	.notice-write-container{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.notice-write-wrap{
		width: 1000px;
	}
	.notice-write-wrap .input-item>input[type=text]{
		border-bottom: none;
		padding: 0;
	}
	.notice-write-wrap .input-item>textarea{
		height: 300px;
	}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content notice-write-container">
		<section class="section notice-write-wrap">
			<div class="page-title">공지사항 작성</div>
			<!--
			첨부파일을 포함해서 전송하는 경우 
			method = "post"
			enctype = "multipart/form-data"
			-->
			<form action="/notice/write" method="post" enctype="multipart/form-data">
				<table class="tbl">
					<tr>
						<th>제목</th>
						<td colspan="3">
							<div class="input-item">
								<input type="text" name="noticeTitle">
							</div>
						</td>
					</tr>
					<tr>
						<th style="width:10%">작성자</th>
						<td style="width:40%">
							<span th:text="${session.member.memberId}"></span>
							<input type="hidden" name="noticeWriter" th:value="${session.member.memberId}">
						</td>
						<th style="width: 10%">첨부파일</th>
						<td style="width: 40%">
						<!-- name은 vo의 변수명과 다르게 작성 -->
							<input type="file" name="upfile" multiple>
						</td>
					</tr>
					<tr>
						<td class="left" colspan="4">
							<textarea name="noticeContent"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="4">
							<button type="submit" class="btn-primary lg">공지사항 등록</button>
						</td>
					</tr>
				</table>
			</form>
		</section>
	</main>
	<script src="/summernote/summernote-lite.js"></script>
	<script src="/summernote/lang/summernote-ko-KR.js"></script>
	<link rel="stylesheet" href="/summernote/summernote-lite.css">
	<script>
		$("[name=noticeContent]").summernote({
			height : 500,
			lang : "ko-KR",
			callbacks : {
				//사용자가 이미지를 올리면 동작할 함수
				onImageUpload : function(file) {
					//이미지를 선택하면 해당 파일을 매개변수로 받음
					//이미지를 처리할 함수를 실행 -> 처리할 함수에 첨부파일과 에디터객체를 전송
					uploadImage(file[0],this);
				}
			}
		});
		
		function uploadImage(file, editor){
			//ajax로 서버에 이미지를 업로드
			//업로드된 파일의 filepath를 받아옴
			//받아온 filepath로 img태그의 src를 설정
			
			//ajax파일 업로드
			//<form>태그 역할의 객체
			const form = new FormData();	//<form></form>
			form.append("upfile",file);		//<form> input type=file name=upfile </form>  실제 폼태그는 아님
			
			$.ajax({
				url : "/notice/editorImage",
				type : "post",
				data : form,
				processData : false,
				contentType : false,
				success : function(data) {
					console.log(data);
					$(editor).summernote("insertImage","/notice/editor/"+data);
				}
			});
			//processData : 데이터 전송 시 기본적으로 문자열로 전송하게 세팅되어있음 -> 그 기본세팅을 비활성화(false)
			//contentType : enctype="application/x-www-formurlencoded;charset=utf-8" 기본값
			//-> 기본값을 비활성화(false)
			
		}
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>