<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	pre{
		font-weight: 900;
		font-size: 7px;
		color : purple;
	}
	.cow{
		width : 500px;
		margin : 50px;
		box-shadow: 5px 5px 30px red, -5px -5px 30px blue;
	}
	.aka{
		width : 800px;
	}
	.chill{
		margin : 0;
		width : 527px;
		
		color : orange;
		background-color: green;
	}
</style>
</head>
<body>
	<h1>springboot 전한chill</h1>
	<pre class="chill">
⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡹⡨⡣⡓
⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣
⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢆⢇⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣
⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⣪⡮⣮⢪⢪⢪⢪⣪⡶⣵⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱
⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡵⡣⡪⡪⡇⡇⣗⢏⢕⡪⡲⣹⢸⢸⢸⢸⢸⢘⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜
⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢺⡱⡱⡱⡱⡇⣽⢱⢱⢱⢕⢕⡇⡇⡇⡇⡇⡇⢇⢇⢇⢇⢇⢇⢇⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣
⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⣇⢇⢇⢽⢪⢇⢇⣳⢫⢪⣺⢸⢸⢸⢸⢘⢜⢜⢜⢜⢜⢜⢜⢜⢜⢔⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕
⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⠪⡪⣪⣪⣪⣎⡮⡺⡜⡜⡞⡮⡇⣇⢯⢪⡺⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱
⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⣣⣣⣣⣧⡧⡷⡗⡟⡻⡹⡱⡱⡸⡸⡸⡸⡸⡸⡸⡸⡸⡸⣸⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕
⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⣱⣱⣵⣵⢵⢷⢻⢫⢫⢫⢱⢱⣸⢮⣾⢾⢮⡪⡪⡺⡞⣟⢟⣟⢷⠷⡕⡕⡕⡕⡕⣻⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜
⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⣱⣱⣵⣵⣵⣷⣷⣷⣿⣿⣿⣯⢫⢲⢸⢸⢸⢸⢸⢸⢸⢸⢰⢪⡺⠺⣾⣮⡇⡇⡇⡟⢞⣾⣮⣮⡪⡪⡪⡪⡪⡪⡢⣻⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢘⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜
⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⢦⢹⢈⡻⡟⡇⡇⡇⡝⡄⢿⢿⢑⢇⢇⢇⢇⢇⢇⢇⢞⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕
⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⣹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡧⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡇⡇⡇⡇⡕⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜
⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢽⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢘⡇⡇⡇⡣⡣⡣⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪
⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⠣⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢨⢧⢣⢣⢣⢣⢱⠱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱
⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢨⡇⡇⡇⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱
⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢰⢇⢇⢇⢇⢣⢱⠱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱
⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡯⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡇⡇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕
⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⠪⢿⣿⣿⣿⣿⣿⣿⣿⣿⡟⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⣺⣼⣸⢸⢸⢸⢸⢸⢸⢸⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱
⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡝⡔⡪⡫⡻⣿⣿⡻⡫⡫⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⣪⣪⡮⡾⡺⡫⡪⡪⡪⡪⡪⡪⡪⡪⡪⡎⡎⡎⡎⡎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎
⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢬⢙⢟⠾⣮⣮⣎⣎⣎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢞⢞⢝⢝⡜⡜⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⣺⢸⢸⢸⢸⢸⢸⢨⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪
⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡒⡜⠬⡍⡝⡝⡝⡝⣧⢣⢣⢣⢣⢣⢣⢣⢣⠣⡧⡧⢷⢳⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⡣⣷⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕
⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢇⢇⢇⢇⢇⢇⣿⡪⣎⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⡎⣎⡮⡮⣺⢺⡽⢫⠫⡓⢧⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣
⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⣳⢕⢍⠳⠽⣹⣚⣚⢮⢚⡮⡚⡞⡺⡚⡚⢎⡫⣍⣵⢕⢗⠝⡍⡪⠢⡑⢌⠪⡳⣕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕
⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢼⠣⡣⡊⡪⡊⢆⢣⠩⡫⡓⡓⡳⠺⡚⡳⠹⡙⢍⠣⡑⢌⠢⡑⢔⢜⢼⠨⡢⡑⢌⠺⣪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪
⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⡏⡌⣎⢪⢊⢎⢢⢑⠕⡌⡪⡨⡊⡪⠢⡊⡪⡨⢢⢑⢌⠢⡑⡌⢎⡞⡅⡣⢪⢘⢌⠪⡺⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡌⡆⡇⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣
⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⣱⢕⢸⠢⡣⡑⢅⠣⡑⢕⠌⢆⠕⡌⡪⢪⢘⠔⡌⡢⡑⢌⠪⡢⡑⢕⢧⠪⡘⢔⠱⡨⡊⢆⢻⡸⡸⡸⡸⡸⡸⡸⡸⡸⡸⡸⡸⡸⡸⡸⡘⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜
⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⣸⠰⡳⣇⠪⡨⠢⡑⢌⠢⡑⢅⠣⡪⡘⡐⡅⢕⢌⠢⡑⢅⢕⢐⢅⢣⢹⣜⢌⠶⡱⡨⢪⢘⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜
⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢺⢌⠪⣳⡑⢌⢪⠨⡢⡑⢜⠰⡑⢌⠌⢆⠪⡢⡑⡱⠨⡢⡑⢔⢑⢔⡽⡑⢕⠳⡑⢌⢢⢑⢕⢇⢇⢇⢇⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣
⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢪⢣⢱⢙⣧⡕⢕⢕⢌⢎⢢⠣⡪⡢⡣⡑⡕⢌⢪⢘⢌⢆⢪⢢⢑⡽⡑⢌⢢⢑⢌⠪⡢⡱⡽⡸⡸⡸⡸⡸⡸⡸⡸⡸⡸⡸⡸⡸⡰⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱
⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡍⡇⣗⡵⢻⢻⣺⡺⣪⢶⢧⣷⣼⣼⣬⣮⢮⣦⣣⣵⢵⢵⣵⢷⡟⣬⠢⡱⡐⡅⢇⢕⡞⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕
⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡹⡧⡑⢕⠌⣏⡗⣟⠵⣮⡦⣷⡼⣮⣳⠵⠧⡗⢏⢏⠪⡢⠹⣞⡷⣜⣌⡪⡮⡞⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜⡜
⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡹⡎⡢⠱⡨⡪⣪⢝⢜⡾⣖⢳⢒⠲⡹⢸⢘⢆⠣⡃⡪⣊⠢⡍⡝⢜⢜⢌⣗⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜
⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡇⢎⠕⡌⡪⡨⡩⡓⡺⡫⣯⡗⢗⢗⠳⡑⡢⡑⢌⠢⡊⡓⢜⢌⠆⣝⠆⣗⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕
⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢌⢿⡐⡱⡐⢌⠢⡊⡢⡑⢜⢜⡎⡢⡑⡱⠨⡢⡊⠆⢕⢌⢊⢢⠡⡃⢎⢇⡯⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪
⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢝⡖⢌⢌⠢⡑⢌⠢⡊⡢⢣⢳⠨⡂⢎⢌⠢⡊⡪⠢⠢⡑⢔⢑⠌⣞⢕⡯⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪
⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢕⢽⡐⡑⢕⢵⡱⡱⠨⡪⠨⡇⣇⠪⡂⢆⢇⡪⠨⡊⡪⢨⠢⡑⢕⢜⢆⡯⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪
⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡳⡅⢕⠱⡐⠕⡌⡪⡨⠪⡸⣪⢌⢊⠢⡣⢝⢪⠢⡡⡑⠕⡌⡢⡫⣪⡇⡇⡇⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕
⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⢵⢛⢴⣱⣨⣊⢆⢪⢘⢌⢪⢢⣧⣑⡕⢌⠪⡢⡑⢌⠪⡘⢔⠌⣎⣞⣎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎
⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⢜⡕⡐⡐⠌⠌⠍⠍⠍⠍⠅⠅⢳⢁⢋⢛⠳⠳⠾⠶⠳⠞⢖⢓⠫⡪⢹⡸⡸⡸⡨⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪⡪
⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢹⣐⢌⢌⢌⠌⠌⠌⠌⠌⢌⠸⡂⡂⡂⠌⠌⠌⠌⠌⠌⡐⠄⢅⢱⢱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱
⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⣕⡵⢕⠓⡓⠽⢽⣻⡫⣻⢟⢯⣧⡧⣧⣕⢧⣂⡦⣥⢵⢥⡥⣕⣕⣬⣪⡦⣟⡎⡎⡎⡎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎
⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⡎⢂⠂⡂⠂⠅⡂⠍⢷⡌⣷⢻⡪⣫⢳⡸⣱⣿⣟⣯⣻⢻⣝⡯⣫⡞⡾⣜⡲⡇⡇⡇⡇⡇⢇⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣
⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⡆⡂⡂⠌⠌⡂⡂⠅⡂⢳⡽⣪⢺⢜⢾⠚⢍⢂⠢⠡⡉⠳⣳⡻⣪⢺⢕⢵⢕⣏⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢆⢇⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣
⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⠷⣆⣆⡅⣅⣂⡂⣅⣂⢜⢮⢪⢻⣪⡇⠌⡐⢐⢨⠰⢐⢁⠂⠝⣝⢝⣎⡿⣹⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢇⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣
⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⢎⡚⡗⡟⡮⡮⡮⡧⡗⡗⡞⡞⡟⡕⢧⠱⣐⣐⣐⢨⣐⡐⣌⠬⠪⢓⢕⡽⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣⡣
⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⠣⡍⠷⡶⣴⣤⣅⣆⣢⣰⣨⣦⢮⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢱⠱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱
⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢪⢪⠪⠭⠭⡹⡸⡰⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱
⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢹⢸⢱⢱⢱⢱⢱⢱⢱⢱⢱⢱⢱⢱⢱⢱⢱⢱⢱⢱⠱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱
⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢣⢱⠱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱
</pre>
	<h3><a href="/request">1. SpringController 호출</a></h3>
	<h3><a href="/request2?str=전한기&no=100">2. SpringController 호출하면서 데이터 전송</a></h3>
	
	<h3>3. SpringController에 데이터 전송하고 응답받아서 출력</h3>
	<form action="/plus" method="post">
		<input type="text" name="num1">
		<br>
		<input type="text" name="num2">
		<input type="submit" value="제출">
	</form>
	
	<h3><a href="/thymeTest1">1.타임리프테스트1(기본형출력)</a></h3>
	<h3><a href="/thymeTest2">2.타임리프테스트2(객체출력)</a></h3>
	<h3><a href="/thymeTest3">3.타임리프테스트3(배열,리스트 출력)</a></h3>
	<h3><a href="/thymeTest4">4.타임리프테스트4(if)</a></h3>
	<h3><a href="/thymeTest5">5.타임리프테스트5(switch)</a></h3>
	<h3><a href="/thymeTest6">6.타임리프테스트6(each)</a></h3>
	<hr>
	
	<h3><a href="/member/allMember">1. 전체회원조회</a></h3>
	<h3><a href="/member/searchIdFrm">2. 아이디로 회원조회</a></h3>
	<h3><a href="/member/joinFrm">3. 회원가입</a></h3>
	
	<pre>

⣿⡻⣯⣻⣻⢯⣟⣟⣟⣿⣻⣻⣟⣿⣻⢽⣻⣻⢯⣇⢆⢔⠐⡐⡀⣂⢐⢄⢐⢀⠂⠐⠀⢂⠀⢂⠠⠀⠄⠠⠀⡀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣷⣟⣷⣳⣟⣯⣯⡯⢷⣻⣗⡿⣞⡷⣯⣟⡮⣺⣫⡺⣕⢯⢪⢎⡖⡜⣎⢧⡫⣞⢬⣪⢪⡢⡆⡆⠔⡀⡈⢄⠢⡐⢄⠢⠡⡈⡀⠂⠐⠀⠄⢀⠀⡀⢀⠀⡀⢀⠀⢀⠀⠀⠀⠁⠀⠐⠀⠐⠀⡀⠠⠀⠀⠀⠀⠀
⡿⣽⣾⡷⣟⣷⣟⡮⡷⡝⡎⡏⡏⡟⠷⢽⢺⣳⣳⣳⢵⠽⠸⣕⣝⢮⡺⡜⡮⡪⣗⣎⢧⠫⡈⡢⡑⢔⢌⢌⠪⡪⡢⡃⢇⢪⢘⢌⠢⡡⡐⠀⠄⠠⠀⠄⢂⠀⡂⠄⠠⠁⠄⠂⢈⠀⡀⠁⠄⠀⠄⢀⠁⠈⡀⠄
⡕⡱⡨⢍⢍⢓⡓⢏⢏⢞⢼⢜⡼⣬⣹⡸⡰⡢⣗⣗⡯⡿⣜⢜⢮⡳⡳⣝⢮⡫⣞⢞⣼⢑⢜⢌⠎⡆⡣⡱⡱⡸⡸⣸⢰⢱⢰⢨⢪⢘⢜⢌⢌⠪⢦⠈⠄⠂⡐⡈⠄⠡⠈⡐⠠⢀⠐⡀⢂⠡⠐⡀⠄⡁⠄⡀
⡇⡕⡜⡜⡔⢕⠌⠂⠁⠘⡌⡓⡝⡪⡣⢍⢏⢚⡺⡮⡯⡾⡽⣎⣮⢞⡝⡮⡧⣟⢮⢏⠎⡎⡎⡎⢎⢆⢇⢎⢮⢎⡿⣜⣕⣧⣳⣕⣜⢌⢎⢺⢕⡕⡕⢝⢄⢧⡲⣕⢗⡵⣔⠀⢂⢆⢆⡢⠄⢂⠁⡐⢀⠂⡂⠄
⡇⡇⡗⡜⡜⡔⠅⠀⠄⠈⢎⢌⢎⢒⢜⢔⢕⠔⡕⡍⢭⢙⢝⢪⠳⡫⡇⢯⢻⡚⡎⢔⣕⢇⢇⢎⢇⢇⢧⣳⡫⣗⢯⡳⣕⢯⢫⡳⢯⢷⢕⢕⠽⣽⣪⢪⠳⣕⣗⡽⣵⢝⣮⠪⡪⣪⢮⢞⡍⡠⠐⠠⠀⡂⢐⠀
⣕⢕⢕⢕⢕⢕⠅⡂⠀⠀⠱⡱⡱⡱⡱⡢⡕⡕⡜⣌⢪⢢⢑⠌⡎⡢⡪⡸⡐⡌⡜⢼⢜⡵⣣⢏⢎⢗⣟⢮⢻⢺⢝⢎⢗⢹⠨⡪⡪⡪⡫⢧⡣⡻⣺⣵⡣⡳⣳⣻⢽⣽⣺⢽⡪⡮⣪⢯⣳⠡⠈⠄⡁⠀⡂⠌
⡜⡜⡕⡕⡕⡕⢅⢂⠀⠀⠈⢪⢪⢪⢊⢎⢪⠪⡪⡪⡪⡪⡪⡪⡪⡪⡜⡜⡜⡰⡱⢽⢽⣞⡷⣱⢱⡫⡪⣎⢎⢎⢪⢪⢪⣢⢣⡪⡢⡑⡕⣕⢽⡪⣷⣳⢯⢎⢪⢫⢻⣺⣺⣳⢵⢏⡯⡯⡊⠄⠡⢀⢐⠐⡐⠌
⡣⡣⡣⡣⡣⡫⡢⡑⠄⡁⠀⠀⢣⢣⢣⠣⡣⡣⡱⡘⡌⡎⡆⡕⢜⢌⢪⢊⢎⢪⡪⡯⣟⣾⡽⡎⣎⢮⣫⢲⡱⡱⡣⡧⣳⣪⡳⣕⢯⣞⢮⣞⢵⡻⡮⣯⢯⣟⡔⢅⠑⢍⠳⡧⣟⣯⠿⢙⠀⠡⢑⠔⡔⢕⠄⢕
⡜⡜⡜⡜⡜⡜⡜⣜⢔⡐⡀⠂⡀⠑⢕⢕⢕⢕⢕⢕⢕⢜⢜⢜⢔⢕⢕⢕⢕⢕⢵⡻⡽⣾⢽⡧⡣⡳⣳⢽⣪⢯⣞⣽⣺⣞⣾⡽⣗⣯⢿⣺⣽⢯⣯⣟⡿⣾⢽⡸⣜⢐⠑⡉⠍⠄⢌⠐⢌⢌⠢⡑⢌⢧⡹⢌
⢸⢱⢱⢱⢱⢱⢱⢱⢕⢵⢰⠡⢀⠀⠀⠑⠱⡱⡑⡕⡕⢕⢕⢕⢕⢕⢕⢕⣵⡯⣳⢽⢽⣫⣿⣽⣪⢺⢽⣻⣺⢽⣞⡷⣗⣯⡾⣽⢽⡽⣻⣯⣿⣻⣺⢾⣻⣽⣻⢮⣻⠔⢌⠢⡑⢌⢢⢱⢡⢣⡫⣪⢪⢞⠪⡻
⡕⡕⡕⡕⡕⡕⡕⡕⢭⢳⢽⢜⢔⢐⠠⢀⠄⠄⠑⠑⠕⢕⢕⢕⢕⢕⢵⣽⣯⡿⡮⡯⣟⣯⡷⣟⡮⡪⣟⣾⣺⢯⢿⣽⢯⣯⢿⣽⣽⡽⣯⣷⢿⣳⢯⣿⣽⢯⣿⢵⡳⡹⡰⡱⡱⡵⡵⣝⣮⣳⠽⡪⡡⣃⢣⢊
⡮⡪⣪⢪⢪⢪⢪⢪⢪⢪⡪⢯⣳⢕⢕⢔⢅⠅⢌⢐⠨⠠⢀⠂⢌⢐⣽⣷⣫⡿⣽⡺⡯⣯⡿⣯⢯⡪⣳⡳⡯⣿⣽⡾⣿⢽⣯⢷⡷⣟⣿⢾⣟⣿⡽⣷⣻⣿⡽⣟⡮⡾⣵⢯⡿⡽⡽⡛⡜⡌⡇⢎⢎⢬⢊⢆
⢸⢜⢎⢎⢎⢎⢎⢎⢎⢆⢏⢎⢎⢯⢳⣯⣲⡱⣱⢱⢡⡱⡡⡱⡰⡱⣻⣯⣿⣽⣗⣯⢯⣿⡽⣯⢯⡪⣪⢾⣻⣽⢾⣻⣽⡿⣾⣻⣟⣿⡽⣿⣽⢾⡯⣿⢽⡾⣟⣟⡞⡝⢭⢹⢸⢸⠸⡸⡸⡸⢸⢘⢜⢜⢜⢸
⡪⡪⡪⡪⡣⡣⡣⡣⡣⡣⡣⡣⡱⡱⡱⡱⡹⡞⣽⣳⣳⣽⡺⣮⣞⣮⣻⣽⡾⣷⣟⣿⡽⣷⣟⣯⣟⡮⡺⡽⣻⡾⣿⣟⣯⣿⣟⣯⣿⣽⢿⣽⣾⣻⣽⣫⢿⢽⣿⣻⣪⡎⡎⡎⡆⡇⡣⡑⡅⢕⢑⢅⠕⡅⡣⡑
⡵⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡱⡸⢱⢹⢹⢳⢛⢗⢟⢞⡻⣯⣿⣽⣯⢷⣿⢷⣯⡷⡳⡹⢝⠟⢯⠻⡻⠽⠿⣻⣯⣿⣿⣽⢾⣳⣗⣯⡯⣟⣾⡻⣮⣻⢮⣳⢧⢧⣣⢧⣪⠪⡢⡡⡃⢆⢕⢌
⢪⢪⢪⡪⡪⡪⣪⢪⡪⣪⢣⢇⢧⢣⢳⢱⢕⢕⢕⢝⢜⢜⢜⢌⢎⢎⢎⢎⣎⢿⣺⣷⢿⠿⠹⠩⡢⡊⠪⡘⠌⢌⠢⠑⠌⠌⠌⡂⠢⠡⢙⠚⢟⢷⣻⣺⢽⢯⢷⢯⢻⣞⣟⣾⡽⣯⣯⢷⣳⢣⢑⢌⠪⡢⡱⡱
⡱⡕⡕⣕⢝⢜⢜⢜⢼⢸⢪⢪⡪⡪⡣⡣⡣⡣⡫⡪⡪⣪⣺⡽⣾⢾⡽⣯⣟⡿⠯⠫⠑⠌⠌⢊⠂⢌⠐⢄⠑⠠⠡⠡⡁⠅⠁⠄⠁⠌⡐⠨⡐⡠⡑⣕⢵⢅⠇⠇⠣⡊⡏⢷⣻⣯⡿⣽⡺⡘⡔⡕⡕⡕⡜⡜
⡹⡪⡝⡜⡼⣸⢸⢸⡸⡱⡱⡳⡱⡹⡪⣣⢣⢃⠣⢣⢣⢣⢷⣟⣯⣿⣻⣽⠾⢉⠈⡈⢈⠀⢁⠂⠌⡐⠌⡂⠅⠡⢁⠂⢐⠈⡠⠨⡨⢌⢪⠢⡒⠘⡈⡈⠅⡢⡂⠥⡑⡐⢼⢐⢜⡷⣯⢳⡱⡱⡱⡸⡸⡸⡸⡸
⢵⢹⡸⡸⡪⡮⡪⡣⡳⡹⡸⡸⡸⡸⡸⡸⡸⣢⡱⠠⡀⠅⠩⢉⠓⡙⡉⠃⠌⠄⠢⢀⠐⠐⡀⢂⠐⡐⢐⠠⠁⠅⡂⠌⡐⡌⡌⡎⡎⡇⢅⠱⡠⡑⠰⡈⡂⠇⡊⡊⡊⡪⡨⠢⡱⡝⡎⡇⡧⣫⢪⡪⡪⡪⡪⡪
⢧⢣⡣⡣⡫⡪⣪⢺⢸⢸⡸⡜⡜⡜⡜⡜⡎⣗⣽⡱⡠⡡⠨⢐⢀⠢⡀⠅⠨⠠⢁⠂⠌⡐⢐⢐⠐⡐⠠⠨⠨⡐⢔⢕⣕⣵⡫⡮⡪⡪⡢⡡⢢⠨⡂⢆⢪⢨⢢⢑⢕⢜⣜⢼⢸⢸⢜⢵⡱⣣⡳⣕⢇⢧⢣⡣
⡝⡜⡎⡮⡪⡺⡸⡪⡪⣣⢣⢳⢱⠱⡕⡕⡕⡕⢵⡻⡮⣎⣎⣂⠢⡈⠢⠡⢈⠐⡐⢈⠐⡐⡀⠢⠨⢨⢨⢨⡪⣪⢞⣵⣷⣗⣿⣺⢵⢝⡵⣸⣢⢷⢕⡷⣕⢷⠽⣝⢯⢻⢪⠣⡱⣱⢕⢧⡳⣕⢽⢜⢮⡪⡪⡪
⢝⢜⢎⢎⢎⢎⢮⢪⡪⡪⡪⡪⡪⡝⡜⡜⡜⡜⡕⡍⡏⡗⣓⠷⡽⣜⣜⡌⡆⡢⢌⡢⡱⡰⡨⡪⡮⣪⢮⣾⣽⣯⣿⡿⣷⣟⣷⣟⡯⣯⢯⢗⡗⣏⢗⣕⣗⢧⡻⡪⣇⢇⢇⢕⢜⢮⢯⡳⣝⢮⢺⢝⣕⢧⢣⢫
⣣⢣⢳⢹⢸⡱⡱⡣⣣⢣⡣⡣⡣⡣⡣⡣⡣⡫⡪⢎⢎⡎⡎⡞⡜⡜⣌⢏⢏⢞⡳⣓⢳⢽⣾⣟⣿⡿⣿⣯⣿⣷⣗⡿⣿⢽⣳⢯⣻⡺⣝⡵⡳⡕⡯⣺⣪⢷⢽⣚⢎⢎⢎⢖⡽⡽⣮⣫⣞⣗⢝⡵⣳⢫⡇⡗
⣕⢧⢣⡣⣇⢗⢝⡚⣎⢮⢪⡪⣪⢪⢪⡪⣪⢣⢫⢪⡪⡪⡇⡗⡵⡹⡸⣪⡳⣱⢱⡱⡱⣝⣿⣿⣻⣿⣟⣿⣯⣷⣿⣽⡽⣯⢯⣟⣞⢽⣪⢏⡯⣺⢝⣗⡽⡽⣕⢧⡣⡳⣕⣟⣞⣽⣺⣺⣺⢮⡳⣝⣗⢗⡝⣎
⣜⢎⢧⢣⡣⣫⢪⢮⡳⡹⡸⡸⡜⡜⣜⢮⢺⢪⢳⢱⡪⣳⢹⡪⡧⡳⡱⡱⣕⢳⡱⣕⢽⡸⡜⣿⣿⣻⣿⢿⣻⣿⣿⣿⣽⡽⣯⣗⡯⣟⡮⣗⡽⡮⣿⣺⣽⢯⣗⡷⣵⣻⣺⣪⢷⣳⢯⡾⣳⣻⣪⢗⡷⣝⣞⡜
⢕⢯⢺⡸⡜⣎⢯⡣⣳⢹⡪⣣⡳⡹⣜⢮⢎⢧⢣⡳⣹⢜⡵⡹⡸⣕⢍⢇⡇⣇⢇⢧⡳⡕⡵⣿⡿⣿⣿⣿⣿⣿⣷⣿⣿⢿⣿⣾⣯⣟⣾⣳⣿⡿⣿⣻⣟⣯⣷⣟⣗⣿⣺⣺⣻⣞⣯⢿⡽⣞⢾⢽⢽⣺⢮⡺
⡽⣹⢵⢝⢞⢼⡱⣝⡜⡵⣝⢮⡪⣺⡱⡳⣝⢮⣪⢺⡸⣱⢹⡪⢯⡺⣜⢵⡱⡣⣣⢳⢱⢕⢭⣳⣿⣿⣷⣿⣿⣽⣿⣷⣿⣿⣿⣯⣿⣿⡿⣿⡿⣿⣿⣿⢿⣿⣻⣞⣷⣻⣞⣞⢷⣳⢿⢽⢯⡯⡯⡿⡽⣞⢷⢝
⡹⣜⢵⣫⡳⣕⢽⡸⡜⣕⢗⡵⡹⡜⡎⡯⡺⡜⣜⢎⣞⢜⢎⢮⢳⣹⢺⢜⣎⢏⡞⡼⡱⣕⡳⣝⣿⣿⣽⣿⣽⣿⣯⣿⣿⣽⣿⣻⣯⣷⣿⣿⣿⣿⣿⣽⣿⣻⣞⣾⣞⣷⣻⢮⣳⣺⣼⣽⢮⣞⣮⢯⣞⣮⢾⢽


	</pre>
	
	<pre>
		
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⢀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠃⢰⠘⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠕⠅⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⡀⠢⠡⠡⡑⠄⠅⢌⢐⢐⠐⠄⢄⢀⠀⠀⠠⠠⡠⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠠⠡⡑⠌⠌⢌⠢⠨⠨⡈⡂⡂⠢⠡⡑⡐⠄⠅⢅⢣⢫⢪⢪⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢀⢀⠀⢀⠐⠌⠌⢌⠢⠨⠨⡈⠢⠡⠡⡑⡐⡐⠌⢌⢂⠢⠨⠨⡈⡂⡂⡊⢎⠎⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⡎⡖⠦⡱⠠⠡⠡⡑⡐⠅⠅⠕⠌⢌⢌⢌⢂⢂⠪⠨⡂⡢⢡⢑⠱⡐⢌⠢⡊⡢⠡⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠈⢎⢮⢱⠡⠡⡡⡑⡐⢌⠪⡘⢌⢊⠢⠢⡢⡑⢌⢜⢌⠢⡪⡢⡑⢕⢕⢑⠕⢌⢌⢊⢂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠁⢣⢑⢕⢔⢌⢪⠢⡣⡑⢕⢕⠱⡱⡨⡪⡢⡑⡕⡕⡌⡪⡪⡢⡑⢕⠅⢕⢐⠑⠔⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢕⢕⢕⢕⢕⢕⢕⢜⢜⢌⢎⢪⢪⠪⡪⡪⡪⡪⡪⣪⣺⣾⡮⡪⡢⡑⡑⠄⠅⠅⢕⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠈⡢⡑⢕⢕⢕⢕⣕⣕⡕⡕⡕⡕⡕⡕⡕⡕⢜⢜⢜⣶⣿⣿⠣⡪⡂⡪⠨⡨⠨⠨⠢⠡⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⡪⡊⠆⡕⡱⡑⢷⣿⣿⣷⣕⢕⢕⢕⠕⢕⠕⢕⢕⢛⢏⠣⡱⠨⡂⡪⠨⡨⠨⠪⡨⡊⢆⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢀⠪⡘⢌⠢⡊⡪⡪⡹⡻⠯⡫⢢⢑⠔⢅⢅⣅⣕⢐⢐⠅⡕⡜⡜⣌⢪⠪⡨⡪⡨⡢⡑⢕⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⡐⢕⢌⠢⡑⢌⠢⡪⡨⡊⡪⡊⡢⣲⢻⢻⣻⢿⣽⣷⣶⢗⢕⢵⢕⡵⡱⡱⡨⡪⡪⡪⡪⡪⡂⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⡘⡔⢕⠕⡜⡌⡎⡎⡎⡎⡎⡎⣎⣿⣶⣽⡾⣟⣯⣿⢫⡪⣳⣝⡷⡫⡎⡎⡎⡎⡎⡎⡎⡎⡂⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢘⢜⢔⢕⢜⢜⢜⢎⣗⢝⡮⣺⢢⡣⡻⣳⢿⢿⢻⡸⣪⢺⡷⡯⣫⢺⢸⢸⢸⢸⡸⡸⡸⡌⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢇⢇⢇⢇⢇⢗⢕⣕⢳⡹⣝⢷⡯⣷⡕⢧⢫⠺⡊⢆⢿⢹⢜⢎⢮⢪⡪⡎⣇⢗⡝⠎⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢎⢎⢎⢮⢪⢳⢸⡱⡕⣕⢵⢹⢪⢻⡢⡕⡕⡎⡏⡞⣜⢵⢹⢜⣕⢧⡫⡮⠃⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢎⢧⡳⡹⣜⢜⡎⡮⣺⢸⢕⢵⡱⣝⢜⡎⡧⣫⢺⣪⡳⣝⡮⡇⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠋⠺⠪⡳⡝⣞⢼⢵⢝⡮⣺⢜⡵⣝⢞⡮⣳⢵⡻⣺⢪⢇⢇⢆⢇⢇⢇⢧⢱⢠⠀⢀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⡸⣕⢯⡳⣫⢯⡺⣝⢮⢳⡣⡏⡮⡪⡣⡣⡣⡣⡫⣎⢧⡣⡇⡧⡀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡄⡇⡇⡗⡵⡹⡜⣕⢝⢜⢎⢇⢇⢇⢇⢇⢇⢇⢇⢇⢎⢮⡣⡳⡕⣕⠅⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⡱⡱⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡕⡽⡜⡜⡜⡔⢕⢕⢝⢼⢸⠌⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢄⢇⢇⢯⢎⢎⢊⠢⡈⡂⡂⠪⠨⠨⠪⢪⢪⢪⢪⢪⢳⡱⡱⡑⡅⠕⢕⢕⢕⠅⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⢌⢆⢇⢗⢽⢈⢂⠢⡑⡐⡐⠌⠌⠌⠌⠌⠢⡑⢕⢕⢕⢕⡧⡣⡃⡪⡈⠪⡪⡪⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡐⢌⢎⢎⢮⡫⡧⡑⢄⢑⢐⠐⠌⠌⠌⠌⠌⢌⠢⡈⡂⡣⡣⡳⡽⣸⡨⡢⡨⡨⡪⠂⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⣌⠪⡪⢮⠳⠉⢨⢈⢂⢂⠢⠡⠡⠡⠡⠡⡑⢄⢑⢐⢐⢘⢜⢎⢯⣺⢝⡾⣞⣾⠐⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠃⠉⠀⠀⠀⠰⡐⡐⠄⠅⠅⠅⠅⢅⠑⢌⢂⢂⢂⠢⡂⡇⡇⡧⡣⡳⡹⡸⡱⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢆⠪⡨⢨⠨⠨⠨⠢⡑⡐⢔⠰⡐⢕⢌⢎⢎⢮⢺⢸⡪⡺⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢎⢎⢆⢕⢕⢑⢕⢌⢪⢢⢣⢪⢢⢱⢱⢝⡜⣎⢧⠏⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠑⠕⡕⡕⡕⡕⡕⡕⡕⡕⡕⣕⢵⢝⣞⡎⡃⡥⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
		
	</pre>
	<pre>
	
⣿⣿⡿⣿⢿⣟⣿⣟⣿⣻⣟⣿⣻⣟⣿⣻⣻⣻⣻⢯⣟⣟⣟⣯⢿⣻⡽⡯⣟⣽⢽⢽⢽⢽⢽⢝⡽⣹⢝⡽⣹⢝⡽⣹⡹⣝⢵⡫⣳⢹⢝⣟⡿⣯⣟⣯⢺⣫
⣟⣷⡿⣟⣿⡽⣷⣻⡽⣗⣿⣳⣟⣾⣳⡯⣯⢷⣻⣽⣾⣿⣿⣿⣿⣷⣿⣽⣳⢽⢽⢽⢝⡽⡺⣝⢮⡳⣝⢮⡳⣝⢮⢇⢯⡪⣇⢯⢺⡸⠭⣯⣟⣷⣳⣻⢜⢞
⣻⣯⣿⣻⡷⣟⣯⡷⣟⣯⡷⣟⣾⣳⢯⣯⣿⣿⣿⣿⣿⣿⣿⣟⣿⣿⣿⣿⣿⣿⣯⣗⢯⡫⡯⢮⡳⣝⢮⢳⡹⣪⣫⡳⡕⣝⢜⡜⡎⡮⡹⢼⢾⣺⣳⢯⡗⣝
⣽⢷⣟⣷⣟⣯⣷⣟⣯⡷⡿⣽⢾⣽⣿⣿⣿⣿⣿⣿⣿⢿⣾⣿⢿⡿⣿⣿⣿⣿⣿⣿⣷⣯⡺⡵⣝⡜⡮⡳⡹⡜⡖⣝⢎⢮⢪⡪⡪⡪⡪⡣⡫⡪⣺⡽⣾⠸
⣿⢯⡿⣾⢽⣗⡷⣟⡾⡽⣯⣿⣿⣿⣿⣿⣿⣿⣷⣿⡿⣽⡺⣞⡽⡮⣳⢽⢽⡻⡿⣿⣿⣿⣿⣾⡜⣎⢧⢫⡺⣸⢹⢸⢪⡪⡪⡪⡪⡪⡪⡪⡪⡊⡎⣟⢾⢕
⣻⣽⢿⡽⣯⡷⣟⡯⣿⣽⣿⣿⣿⣿⣿⣿⣟⣾⣿⡿⣝⢮⣻⡪⡯⣺⢱⢹⢽⢽⢽⣝⢿⣻⣿⢿⣿⣾⣜⢕⡕⡕⡕⡵⡱⡕⡕⡕⡕⡱⡑⡕⢜⠜⡌⢯⢯⣳
⣽⡾⣿⢽⣗⡿⣽⣽⣿⣿⣿⣿⣿⣿⣿⡿⣪⣿⣿⡟⡮⣣⢳⢝⡽⣸⠜⠌⢪⢯⢳⠙⡑⠳⡹⡽⣹⢹⢻⣧⡇⡷⣕⢕⢕⢕⢕⢕⠜⡌⢎⠜⡌⢎⢜⠸⣝⣞
⡷⣿⢽⣻⢾⣽⣿⣿⣿⣿⣿⣿⣿⣿⣿⣵⣿⣿⡷⣝⢜⢎⢎⢣⣻⡾⠁⠀⢀⢅⣥⣦⣤⣄⣈⠘⢕⢕⠕⡬⡙⠿⢯⡳⣣⡣⢣⢣⠱⡑⡅⢇⠕⢅⠆⢕⢳⡳
⡿⡽⣯⢯⣿⣿⣿⣿⣿⣿⣿⣟⣼⣼⣾⣿⣿⡿⣱⢳⢝⢎⢎⢔⣽⡇⠀⢐⣼⣿⣿⣿⣿⣿⣿⣮⣔⡕⢕⠕⢑⠁⠈⠚⡵⣫⣎⢎⠪⢢⢑⠅⡕⡡⡑⠅⢕⢯
⣻⡽⣽⣿⣿⣿⣿⣿⣿⢿⣿⣿⣿⢿⡿⣟⢏⡏⡮⡪⡳⡹⠀⢹⡿⠅⠀⣽⣿⣿⣿⣿⣿⣿⣿⣿⣿⡅⠁⠀⠀⠀⠀⠀⠈⠪⡚⠮⡊⢆⠢⡑⢌⢂⠪⠨⡊⣳
⣺⢽⣳⣿⣿⣿⣟⣵⣾⣿⣿⣿⣻⡻⡽⣪⢇⡇⡏⠆⠄⠀⡀⡨⣰⢀⠐⠸⣿⣿⣿⣿⡟⢹⣿⣿⡿⡀⠀⠂⠀⠀⡀⠄⠀⠀⠂⡈⠉⠒⢕⠨⡂⠕⡨⠨⡐⠸
⣯⢯⢿⣿⣿⣿⣾⣿⣿⢿⣫⢮⢎⢮⢫⢺⠱⡣⡣⣀⢀⠰⣜⢮⣳⣣⡢⡀⠘⢿⣿⣿⣿⣷⣿⠿⠑⠀⠀⠀⠀⠀⠀⡀⡀⡀⠀⠈⢂⠀⣨⢇⠂⢕⠠⡁⡂⠅
⣯⢯⢿⣿⣿⣿⣯⣟⣮⣳⡳⣝⢵⣣⡳⣕⣵⡾⡿⠟⠗⢝⢮⣫⢞⡼⣪⢏⠧⠨⠙⠛⠛⠉⠀⡀⠀⠀⠀⠀⠀⡁⢆⢎⢎⢆⠀⢀⠀⢻⠍⠔⡨⢐⢐⢐⠠⠁
⣻⣝⣗⣿⣿⣿⣿⣳⢵⣳⢝⡮⣣⡓⡏⠋⠈⠀⢀⠀⠄⠈⠪⡺⣕⢯⢚⠨⠈⠀⠀⠀⠀⠐⠀⠀⠀⢀⠀⡁⠄⠌⢎⠪⢘⠨⡊⠀⠀⠀⢹⡐⡐⢐⠠⢂⠨⠐
⣷⣳⣳⢽⣿⣿⣿⣾⡯⡾⡽⡽⡵⣫⢊⢠⣦⣷⣷⣿⣾⣮⡢⠙⡜⡕⡁⠀⠀⠀⠀⠀⢂⣔⡄⡐⡨⢐⢐⠐⠡⠡⢁⢄⣷⡄⠨⠀⠀⡀⠀⠳⣔⠀⡂⠂⠄⡁
⣗⡗⣗⡽⣺⣿⣿⣿⣿⡽⡽⣽⡩⠀⢀⣿⣿⣿⣿⣿⣿⣿⣿⣶⠘⢕⢤⢀⠀⠀⠐⠀⢹⠍⠢⡈⡂⠁⢀⢄⣾⣾⣿⣿⣿⣿⡄⠈⠀⠀⠀⠀⢹⣦⠐⠈⠄⠂
⡷⡽⢵⢝⢮⢾⣿⣿⣿⣿⣟⣞⢮⡢⢈⣿⣿⣿⣿⣿⡟⠻⣿⣿⠅⠀⠈⠘⠪⣲⣰⢠⢐⠌⠌⡀⢀⣴⡓⠉⠀⣠⣽⣿⣿⣿⣿⡀⠀⠀⠀⠀⠀⣯⢷⡡⠈⡀
⡯⡺⡵⡝⡮⡺⣜⣿⣿⣿⣿⣺⡳⡵⣨⢿⣿⣿⣿⣿⣷⣿⣿⠟⠀⠀⠀⠀⠸⢋⠢⠡⢂⠁⢁⣴⡛⠈⢀⣴⣷⣿⣿⣿⣿⣿⣿⣿⡀⠀⠈⠀⠀⢸⡳⡽⡢⠀
⡯⡝⡮⡺⡜⡎⡖⡕⠿⣿⣿⣞⣞⢽⣪⢟⢛⢿⣿⣿⡿⡟⠇⠀⠀⠀⠀⠂⠨⢐⠡⠑⢀⣴⡟⠁⢁⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⠀⠀⠀⡀⠨⣗⠍⠙⣇
⡮⣳⢹⢜⢎⢮⢪⡪⡝⡜⡻⣿⣾⡹⡨⢃⠏⢍⢌⠖⠕⠁⠀⠀⠀⠂⠀⠀⢄⢑⠈⢠⡽⠇⢀⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡀⠀⠀⠀⠀⣳⠕⠀⠀
⣏⢎⢧⢫⢺⡸⡜⡜⡜⡌⢆⢇⢻⢻⣮⣆⢕⢆⢖⢅⠂⠀⠀⠀⠂⢀⠠⡐⡐⠔⢠⣿⡃⢰⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠹⡂⠀⠀⠠⠀⢸⢕⠀⠀
⡮⡳⡹⡜⣕⢎⢎⢎⠜⡌⡪⠢⡑⢵⡻⣻⢮⡈⠂⠀⢀⠀⠐⠀⠐⡔⡕⡑⠌⠄⣿⣿⣷⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠏⠃⠀⡜⠀⠀⠀⠀⠀⠨⡣⠀⠀
⡇⡗⣕⢕⢕⢕⠕⡅⢇⠕⠜⢌⢊⠢⠹⡸⡝⣟⣦⡡⡀⠀⠀⠀⠀⠣⡪⡐⢥⢮⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠛⠀⢠⣐⠟⠀⡐⡨⡂⠁⠀⠀⠣⠀⠀
⡇⡇⡇⡇⡇⢇⢣⢱⠡⡣⡩⡊⡢⡑⡑⠌⠜⢜⢎⢯⡳⡲⢄⡀⠄⠀⠈⠐⠐⠀⠉⠋⠟⢿⢿⣿⣿⣿⣿⣿⣿⡻⠀⣀⡰⠎⠅⡂⢕⠌⢆⠕⠀⠀⠈⡀⠀⠀
⡣⡣⢣⠣⡪⡊⡪⢢⠣⡪⠰⡨⢂⠪⢐⠡⡑⡐⠅⠕⢇⠄⠂⠉⢲⣤⡂⡀⠀⡀⠀⠀⠀⠀⠀⠉⠉⠛⠛⠻⠛⠛⠊⠁⠁⠠⢢⢑⢅⠕⠁⠀⠀⠈⠀⡆⠀⠀
⡕⢜⠌⡎⡢⢣⢑⢅⠕⠜⢌⢢⠑⢌⠢⢑⠐⠌⠌⠌⡐⡑⢄⣔⠿⠠⠉⡚⢦⣄⢄⠀⠂⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠂⠁⠀⠠⠀⠈⡀⢎⠂⡠⠀
⡷⡥⣃⠎⡌⡢⢱⠨⡊⡪⡊⡢⠣⡑⢌⠂⠅⠅⠅⠅⢂⠐⡀⡂⠌⠐⡀⢂⠠⠈⠛⠿⣞⡶⣴⢤⣄⣄⢄⡀⡐⠈⠀⡀⠁⠀⠀⠀⠀⡀⢀⢠⠸⢈⢐⠔⣐⠀
⡯⣯⡳⣳⢕⣌⠆⢕⢘⠔⢌⠢⡑⠌⢄⢑⠡⡁⡊⢐⠐⠨⢀⠐⡀⠡⢐⠠⠐⠈⡀⠂⡈⠛⠮⡧⡳⢭⢳⡹⠹⠹⡙⠊⠓⠙⠊⠪⠂⠢⠁⠂⠈⢔⢡⢑⠔⠁
⡭⣚⠺⣳⣫⢞⡽⣪⢆⡅⡑⡐⡐⠅⡂⡂⠅⢂⠨⠐⡈⠐⡀⠂⠄⠡⠀⢂⠠⠁⠠⠐⠀⠐⠀⠌⢙⠳⣵⢕⢄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡢⣕⡲⣌⢆
	
	</pre>
	
	<pre>
	
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣀⣴⣶⣴⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⣯⣿⣿⣿⣿⣿⣿⣷⣴⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣆⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠂⠈⠀⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢑⣿⣿⠟⢽⢺⢣⢻⢽⢿⣹⢺⡿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠁⠀⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⣺⡏⡳⡬⡰⡸⡸⣃⠡⢉⡾⠀⢣⢻⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⢁⠀⠁⠀⠁⠀⠀⠀⠄⠀⠐⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⢇⢧⡳⣕⢵⢱⢱⡹⡩⠁⠀⡜⢼⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀
⠠⠀⢈⠀⠐⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠌⢿⣲⣷⣶⣥⠳⡕⣕⢕⢜⢔⡕⡝⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠄⠈⠀⠀
⠐⠈⠀⠠⠐⠀⠐⠀⠀⠁⠀⠐⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢑⢸⢟⣿⣿⣿⣷⢟⢞⢜⢎⠯⡎⢎⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠂⠀⠠⠀⠂⠁
⠈⡀⢁⠠⠀⠂⠀⠂⠁⠀⠀⠄⠀⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⡂⡗⡝⢝⢝⢝⢕⠕⢁⣠⣐⡑⠐⠀⠀⠀⠀⠀⠀⠀⠀⢀⠠⠐⠈⠀⠀⠀⠐⠀⠠⠐⠈
⡁⠄⠠⠀⠐⠀⠂⠀⠐⠈⠀⠀⠀⠐⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⢄⣇⣪⣣⣣⢧⢧⢾⣺⡢⡎⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⢀⠀⠁⡀⠈⡀⠐⠀
⡀⠂⠐⠈⡀⠂⠈⢀⠐⠀⠐⠀⠁⠀⠀⠀⢀⠀⠐⠀⠀⠀⠁⠀⢀⣸⢮⣳⡻⣾⢿⡯⣻⣺⣺⡁⠀⠀⠀⠀⠀⠀⡀⠀⠁⠀⢀⠀⠄⠂⠀⠀⠄⠀⠄⠀⠂⠁
⡐⢈⠀⡁⠠⠀⢁⠀⡀⠐⠀⠀⠄⠀⠂⠁⠀⠀⠀⡀⣀⢢⡴⣴⣿⡪⣟⡼⣪⢯⢿⡹⣜⡾⣯⢟⣦⢆⡀⡀⠈⠀⠀⠀⠀⠄⠀⠀⠀⢀⠐⠀⠐⠀⠐⠈⡀⠁
⠠⠐⠀⠄⠂⠈⢀⠀⠠⠀⠈⠀⢀⠀⠄⢀⡤⡐⢊⣨⢮⢷⣻⢽⢾⡽⣵⣻⢼⡞⣗⣽⣺⣿⣻⢯⡿⣽⢾⣜⢢⢄⠀⠂⠀⡀⠐⠈⠀⢀⠠⠐⠈⠀⠁⠄⠐⠈
⠐⠀⠁⡀⠐⠈⠀⠀⢀⠠⡠⢑⣒⢖⣚⢗⢲⢩⠱⢘⡨⣸⣮⣷⣯⣿⣽⣾⢿⣻⣵⣿⣽⣾⣽⡡⣈⠈⡉⠫⢳⠝⡍⡢⣠⣀⢀⡀⠀⠀⠀⠀⠀⠈⠀⡀⠄⠁
⠈⡀⢁⠀⠄⠂⠀⢁⠔⢌⡲⡣⢓⣕⡧⡗⣵⢵⢽⢓⠟⡙⢪⠨⢐⣁⣕⣹⣿⡿⣝⠺⡚⡊⡞⡽⣙⠙⠖⡧⣆⡓⡦⡢⡐⢜⠳⡍⠒⢢⠁⠀⠁⠀⠁⢀⠠⠐
⢂⠠⠀⠄⠂⡀⢁⡎⡓⣞⠎⣬⣺⣺⣼⣺⡫⣇⢅⣦⣳⣺⢾⡽⣟⣿⣾⢯⣿⣿⣺⢼⣢⢧⡾⣕⡦⣡⢑⡐⠅⢏⢞⡮⡾⣜⢣⢚⢷⣀⢣⡀⠁⠈⡀⠄⠠⠀
⡀⢂⠐⡀⠁⠄⡝⡎⡮⣣⣟⣾⣳⡻⣺⣪⢯⡺⣝⢮⡺⣺⢽⣺⢯⢷⣻⢿⣟⣷⡟⣯⢯⣻⢜⡽⡽⡽⡵⣺⢕⡥⣣⡳⡽⣫⣗⣕⡝⣷⢁⣗⠈⢀⠠⠀⠂⠈
⢂⠐⠠⠀⠅⣸⢅⣿⡽⣝⣟⣾⣺⡺⣣⢳⡱⣝⢾⢕⡯⣞⣟⣞⣯⣿⣻⡿⣟⣷⣯⣯⣟⣮⢳⡯⡯⣺⢝⣞⢽⢮⢳⡹⣝⢗⣗⣷⡻⣜⡵⢸⡎⠀⠄⠂⡁⠄
⠠⠨⠠⢁⠂⣺⢝⣷⣻⣵⣟⣞⣞⡾⡽⣕⡯⣞⢮⢯⣻⢽⣽⣯⣿⣽⣿⢿⣻⣷⢷⣷⢷⣻⣵⣻⡽⣗⡯⣳⢝⡵⡵⣝⢮⢯⣗⣷⡯⣷⣫⢗⡇⠁⠄⡁⠄⠨
⠨⠠⡁⡂⢂⠌⣿⢯⣿⢽⣪⢾⣽⣾⣽⣳⣻⡾⣽⣯⣯⡿⡷⣿⣾⡿⣿⢿⣻⣽⢿⣽⣿⣻⣯⣿⣟⣯⣿⣳⢯⡳⣝⡮⣯⣷⣻⣳⣻⣳⢳⣯⠃⠨⢀⠐⡈⡐
⠅⢅⢂⠢⡁⠢⣹⣟⡮⣧⢳⢯⢿⣻⣞⢯⣿⣻⢯⡷⣯⡻⣝⢗⣗⢽⡹⣫⣟⣞⣝⢧⢫⢯⣻⢾⣟⣿⣻⣽⢯⢯⡳⣻⣻⣾⢾⣪⣪⢾⣗⡯⢂⢁⠂⡂⡐⠠
⡡⡑⠔⢅⢊⢂⠮⣷⢟⡾⡽⣽⣿⣗⣯⢿⣞⣷⡻⣯⡷⣯⣺⣕⣮⣳⢝⣵⣗⢷⢝⡮⣫⡳⡽⡽⣽⣿⣻⢽⡽⣳⣟⣞⢾⣻⣽⢽⣞⠽⡝⢵⢐⢐⠨⠐⢄⠑
⢪⠨⡊⡢⡑⢌⡧⡋⣗⡯⣻⣻⣷⢿⣽⢽⣻⣺⣟⣮⢿⢷⢿⡺⢮⡻⣫⣷⢿⠻⢽⢽⡳⡽⣽⣯⣿⡾⣗⢯⣺⢕⣗⣽⢿⣽⢽⣝⡮⣗⢜⢘⡇⡢⠨⡊⢔⠡
⡱⡡⡃⡎⢜⢔⡯⣸⡺⣝⡽⣷⣻⣿⡯⣿⢽⡾⣽⣾⣻⣟⡧⣫⢣⡳⣳⡹⣯⣫⡳⣳⣹⡪⡷⣟⣷⣻⡽⡵⣳⢳⣳⢿⣻⢾⣻⣪⢻⡪⣎⢪⡗⢌⢂⠪⡐⡑
⢇⢎⢪⢊⣺⠐⣟⣾⢯⣳⣻⡽⣯⣿⢧⡹⣟⣾⢯⣷⣮⣞⣿⣪⣗⡽⣲⣽⣻⡮⣞⣜⡮⣎⣿⢿⢽⣝⣗⣝⢮⡟⡱⡸⣟⡮⣗⡮⣳⣽⡽⠈⣕⢇⢅⠣⡊⡢
⡕⢕⢕⢕⡪⣕⢕⢧⡻⣵⣻⢻⢫⢟⡗⡗⢼⡽⣻⣽⣳⢷⣷⡻⡾⣝⡻⣾⣻⣻⡽⢺⣺⡻⣞⣯⣟⣾⢺⢮⢏⣪⢺⡹⣟⢏⢯⢻⡻⣓⢵⢝⠌⡆⡕⢅⢣⢊
⡜⡜⡜⡔⡧⣳⢹⡪⡎⡖⡜⡬⡎⣇⢿⢝⢗⣯⢟⢾⢽⢽⡾⣝⢜⣜⢮⢽⣯⢿⣸⡳⡱⣝⡿⣽⣺⡺⣝⡧⣗⡵⣻⡚⡎⡎⢎⢎⠺⡜⣎⠃⢥⡣⡪⡪⡪⡊
⢱⢱⢸⢸⠀⠈⡇⡏⡮⣊⠪⡊⡧⡣⣏⡷⢽⡽⡽⣝⣯⢯⣿⢷⢷⡽⣾⣟⣿⣯⣷⢯⡯⣮⡿⣕⢯⢯⢮⣟⢼⢪⢇⢇⣏⢪⢘⢌⢎⢮⠮⡨⡆⠸⡸⡸⡸⡸
⡕⡕⡕⡇⢰⢐⢕⢝⣜⢵⢡⠣⡹⡪⣞⢾⣱⣿⢯⣻⣺⡽⣾⡻⡫⡯⣟⣾⢿⣽⢯⣟⢽⡳⣟⢎⡿⣜⢷⣻⡵⡳⡱⣝⠔⡅⣕⢕⢵⢹⢸⡪⡪⠀⡏⡎⡎⣎
⡪⣪⢪⣳⠨⡪⡢⢳⡸⡪⡎⡎⡪⡳⣕⠧⣟⢯⢿⣞⣾⡽⣗⣯⡫⡕⣕⢯⣿⣻⡽⣚⡗⡽⣝⡷⡽⡺⡽⡽⣏⢮⢺⢣⢣⣣⢳⢙⢌⢆⢗⢕⠅⠐⡽⡸⡱⡕
⢹⢸⢸⡜⠨⡪⡸⡐⣇⢗⢽⡸⡰⡱⡳⣍⣯⢏⢿⢽⣷⢟⣿⣳⢽⣺⡳⣳⡿⣾⣝⣗⢽⢝⣷⣫⢯⡯⡟⣽⠚⣮⢫⢣⡓⢕⢅⠕⡔⣕⢇⠇⠀⠨⣺⢸⡱⡹
⢕⢇⢗⡇⢨⢪⠢⡓⡜⣎⢎⢧⡣⡣⣻⢲⢳⣝⣗⣗⣭⢻⡹⡞⡯⡞⢾⠽⡯⢷⢳⢳⢫⡻⣹⢭⢣⡣⡳⣣⢃⠳⡱⡱⡘⡔⢅⢣⢪⢎⠆⡇⠀⠨⡺⡜⣎⢯
⡳⣹⢺⠀⠠⡳⡑⡱⡱⢸⢪⡺⣸⢊⢠⢣⡫⡺⡦⡣⢯⢗⢵⣣⣣⣣⣻⣸⡪⣣⢳⡱⡳⡹⡽⣳⢳⢝⢮⡺⡱⡄⠘⢮⠪⡘⡌⡮⡝⢜⠌⡮⡂⠌⣞⢝⡼⡵
⡯⢮⡳⠀⠨⡎⡎⡢⢣⡃⡇⣗⢗⢪⡣⡣⡣⡫⡺⡹⡎⡎⡪⡂⡇⢕⠕⣜⢪⡪⡞⢜⠸⡨⡺⣜⢵⡹⡕⣝⢜⡜⡀⣸⡸⡸⡸⡜⡪⠢⡣⡇⡇⠅⡗⣇⢗⣕
⡺⣕⢯⠀⢸⢸⢪⢘⢔⢕⢜⡼⡫⡺⡜⡞⣎⢎⢎⢝⢮⢳⡱⡸⡨⡊⡎⡮⡞⡜⢌⡪⣪⢞⢭⢺⢸⢸⢸⡸⡱⣕⢽⢜⣧⡫⡺⣸⡪⡪⡺⡘⣌⠂⡹⡼⣱⢳
⢮⡳⡻⡄⡪⡳⡱⡱⡸⡸⡕⢜⣎⢗⣵⢕⣕⢧⡫⣎⢆⢇⠯⣹⢪⡇⡏⡞⡌⡎⡎⡞⡪⡊⢎⡢⡕⣕⡵⡝⣝⢜⡵⠕⠁⣹⡺⡣⣇⢷⢹⢨⡮⠀⣗⡝⡮⣫
⣕⡯⣫⡆⡪⣳⢹⢸⡼⠊⠀⢀⢎⢗⢎⢇⢗⡳⢵⢕⡝⣎⢮⢪⢪⢹⢜⣜⢜⢜⢌⢆⢧⢎⢧⢳⣝⢮⢞⡚⡎⡇⢡⢰⠪⠈⠫⡗⡗⡝⣆⣗⢇⣪⠮⡮⣫⢞
⣗⣯⣗⡇⡵⣹⢸⡚⠀⠀⡠⡪⡎⡇⡯⡺⣕⢝⡜⡜⡜⢕⢯⢺⣝⢮⢎⢾⡸⣜⢞⢝⣜⢵⠫⡫⢸⢰⠱⡸⡸⡸⡜⡎⠁⠀⠀⠘⢧⢳⢕⡇⣗⢵⡫⣞⣕⢯
⣾⢷⣻⣇⢇⡷⠋⠀⢀⢪⢪⢎⢎⢎⢪⠪⡪⡱⡱⡱⢝⢜⢆⢧⢩⡳⡵⣹⢪⢎⣏⡇⡧⡪⣪⢺⢸⢪⢹⠸⡸⡸⡸⢄⢆⢀⠀⠀⠀⢻⡸⡸⡼⡳⣝⢮⡺⣪
⣿⣻⣿⣻⡜⠂⠀⠠⢐⢜⢜⠔⡕⡸⡐⢕⢱⢨⠪⡸⣸⡸⡪⢮⢚⢎⣞⢺⢹⠵⡕⡇⡇⡣⡱⡑⡌⢆⢕⢱⠨⡪⡸⡸⡸⡰⡀⠀⢀⠀⠹⣪⢯⢯⣞⡵⣯⡳
⣻⣺⢽⡻⠀⠀⠀⢌⢪⢸⢐⢕⢱⢨⢊⡎⡦⡓⡝⢍⢆⢇⢧⢳⢍⡧⡞⡗⡧⣏⣞⣎⢮⢪⢪⡪⡪⡪⡢⡣⣑⠕⡌⡪⡊⡎⡆⡅⡀⠀⠀⠹⣝⣗⣷⣻⣗⡿
⢧⡳⡯⠀⠀⠠⢡⠣⡣⡑⢥⠱⡱⡱⢱⢘⢔⢕⢎⢧⢳⢹⢸⢼⢺⢹⢸⢪⢪⠪⡳⢾⡜⡝⡎⡮⣪⡪⡢⡕⣌⢍⠪⡂⢇⢪⠪⡪⡢⡂⠀⠀⠹⣞⣗⣟⡾⣯
⣗⢽⠁⠀⠠⡑⢕⠑⡕⢜⢌⢎⢪⢸⢰⢱⡱⡣⡫⡪⡪⣪⢞⢕⢇⢇⠇⡕⢔⠱⡘⡌⡞⣮⢪⢪⢲⢸⢸⢘⢌⢓⢓⠵⣱⡡⡣⢣⢱⢱⠱⡀⠀⠻⣮⡳⡯⣗
⣗⠇⠀⠀⠁⢨⢐⢕⢸⠨⡢⡣⢣⢣⢳⢱⠱⡱⢱⢱⢝⢕⠱⡱⢱⠪⡪⡪⡪⡪⡪⡪⡪⡪⡳⣕⢌⢎⠪⡪⡪⣪⢢⢣⢒⠌⡇⡣⡱⣁⠫⠘⢄⠀⢳⢯⣻⢵
⠪⠀⢀⠠⡑⡕⡌⢆⢣⢱⢱⢜⢕⢕⢑⢅⢇⢎⣵⢫⢪⢢⠣⡪⡂⡇⢕⢌⢪⢘⢌⢌⢆⢕⠥⡹⣪⡢⡣⡊⡢⡊⠎⡎⢮⢪⢪⡘⡌⡆⢧⢑⢄⢀⠀⢟⡽⣽
⠀⢀⢢⠣⡣⡱⡘⡌⡆⡇⢇⢣⠱⡘⡌⡖⣵⣻⣽⣻⢮⡎⡳⡱⣑⢎⢎⢢⢅⢕⢌⢢⢱⢐⢅⢇⠆⡏⢮⡊⡆⡎⡪⡘⢌⠪⡒⢕⢕⢪⠪⡪⡪⣒⢄⠈⣟⡾
⠀⡜⢔⢑⢕⢌⢎⠪⡘⡌⡪⢢⢱⢱⢵⣻⣳⣻⣺⣞⡯⣟⣞⣦⣕⣅⢣⢑⢅⢣⢑⠥⡑⠥⡱⡨⣪⣸⢴⢽⣪⢢⠱⡨⠪⡘⡌⢆⠣⡃⢏⢮⢪⡲⡱⡀⠸⣽
⠐⡁⡢⡣⡣⡑⢆⢣⢱⢨⢮⢺⣜⡯⡿⣵⣻⣺⡵⣗⡿⣽⢽⣞⣗⣯⣟⣷⣳⣵⣳⣳⣽⡽⣞⣯⢷⢯⢯⣻⡪⣗⢧⡣⡣⡑⡌⢆⠣⡊⡪⠢⡓⡜⡌⡈⠀⠸
⡐⡌⡎⡪⡸⡨⡪⡪⡪⡣⣣⡿⣺⢽⣫⣗⡯⡾⣽⢽⣽⢽⡽⣞⣷⣳⣟⣞⣗⣟⣾⣳⢷⣻⣽⢽⡽⣽⢽⢮⢯⣺⡳⡽⣺⢜⢜⢔⢕⡌⡎⢜⠸⡘⡌⡖⢄⠀
⡎⡜⡌⢎⢎⢎⢎⢞⢜⡽⡽⡽⡽⣝⢞⡮⣫⢯⢯⣻⣺⢯⢿⢽⣞⡾⣾⢽⣞⣟⣾⢽⡯⣟⡾⣽⢽⣳⣫⢷⢝⡮⡺⣝⢮⣫⡳⡌⡆⢇⢝⢜⢜⢜⢌⢎⢪⠀
	
	</pre>
	<img src="/img/cow.jpg" class="cow">
	<br>
	<img src="/img/F_a7FX_mmIDtpjAu8AI_ahZsWX-eMC-P-AeyzhabjRBdhn8J-kYe1Nrkg93JJr8HP5-oNaCNJiyfuaiziuSSmg.gif" class="aka">
	
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>